:root{
    margin: 0;
    padding: 0;
    --primary-color: #818384;
    --secondary-color: #FFFFFF;
    --modal-color: #121213;
    --button-color: #538D4E;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--modal-color);
    overflow: hidden;
}

.title{
    color: var(--secondary-color);
    font-size: 2.5rem;
    text-align: center;
    border-bottom: 1px solid var(--primary-color); 
}

.tiles-container{
    display: grid;
    justify-content: center;
    margin: 5% auto;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-gap: 8px 12px;
    
}

.tiles-container .tile{
    border: 2px solid var(--primary-color);
    width: 55px;
    height: 55px;
    font-size: 40px;
    text-align: center;
    color: var(--secondary-color);
}

@keyframes keyboard-anim{
    from { opacity: 0};
    to { opacity: 1};
}

.keyboard{
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* opacity: 0; */
    animation-name: keyboard-anim;
    animation-duration:  2s;
}

.keyboard .keyboard-row{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.keyboard .keyboard-row .key{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 55px;
    height: 60px;
    margin: 0px 5px 5px 0px;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.overlay{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: none;
}

.modal{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--modal-color);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    color: var(--secondary-color) ;
}

.play-again-btn{
    background-color: var(--button-color);
    border: none;
    border-radius: 4px;
    width: fit-content;
    height: 30px;
    color: var(--secondary-color);
    cursor: pointer;
}

.statistics-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 300px;
}

.statistics-row .column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rotate-tile{
    animation: rotate-anim 1s;
}

@keyframes rotate-anim{
    0%{transform: rotateX(0deg);}
    50%{transform: rotateX(180deg);}
    100%{transform: rotateX(0deg);}
}

.shake-tile{
    animation: shake-anim 1s;
}

@keyframes shake-anim {
    0%{transform: translateY(5px);}
    50%{transform: translateY(-5px);}
    100%{transform: translateY(0px);}
}